<!DOCTYPE html>
<html>
  <head>
    <title>PlusFeed - Unofficial Google+ User Feeds</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  </head>
  <body>
    <div id="gb">
      <a href="http://plus.google.com">Google+</a>
    </div>
    <div id="header">
      <h1>PlusFeed</h1>
      <h2>Unofficial Google+ User Feeds</h2>
      <span id="plusone"><g:plusone size="tall"></g:plusone></span>
    </div>
    <div id="content">
      <div id="intro">
        <h2>
          Want a <span class="stress">feed</span> for your Google+ posts?
        </h2>
        <div id="inst">
          <p>
            Simply add a Google+ user number to the end of this site's URL to get an Atom feed of <em>public</em> posts.
          </p>
          <p>
            Example: <a href="http://gplusfeed.jadonk.c9.io/104712705716996155416">http://gplusfeed.jadonk.c9.io/<strong>104712705716996155416</strong></a>
          </p>
          <p>
          <br/>
          You can grab the source for this app on GitHub <a href="https://github.com/tedkulp/gplusfeed">here</a> <em>(original: <a href="https://github.com/russellbeattie/plusfeed">here</a>)</em>.
          </p>
          <p>
          <em>Originally created by <a href="http://www.russellbeattie.com">Russell Beattie</a></em><br />
          <em>Ported to node.js by <a href="http://tedkulp.com">Ted Kulp</a></em>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
